$primaryDark: #151515;
$secondaryDark: #212121;
$mainBgColor: #101010;
$darkBlack: #000;
$activeBg: #333333;
$bgGradient: linear-gradient(to bottom right, #000 0%, #131313 50%, #000 100%);
$darkBorderColor: #252525;
$primaryWhite: #fff;
$bodyColorDefault: #c7c7c7;
$themePrimary: #ff9100;
$darkBgBlackColor: #6d6d6d;

body.dark-mode {
  color: $bodyColorDefault;
  p,
  .comment-opt ul li a,
  .input-text-opt a,
  .input-text-opt button,
  .comentar-name a,
  .side-mobile-menu ul li a,
  .side-mobile-menu ul li .dl.check-green span,
  .profile-opt {
    color: $bodyColorDefault;
  }

  .header_cus .header_wrap,
  .team_details .td_social li a,
  .create-post,
  .card,
  .file-formate,
  .close-mobile-menu,
  .mob-bottom-menu > div {
    background: $primaryDark;
  }

  .header_cus .main_menu ul li a:not(:hover),
  .pro-img-thumb ul li .dl.check-green span,
  .team_details .td_social li a,
  .posting-opt > div > label,
  .posting-opt > div > a,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  #backtotop #scroll,
  .mob-bottom-menu > div a.icon-link i,
  .post-setting-list a,
  #sup_form a,
  .form_cus a,
  #sup_form a,
  .form_cus a,
  .popover-body {
    color: $primaryWhite;
  }
  .main_menu ul li ul.submenu,
  .main_menu ul li.nf ul.submenu li.see-all,
  .posting-opt > div,
  input,
  textarea,
  select,
  .comment-text,
  .post-options,
  .audio-bg,
  .green-audio-player .slider,
  .boxed-selects .pr-input.checked,
  .slide-bar,
  .popover-body,
  .custom-control-label::before,
  .price-br::before {
    background: $secondaryDark;
  }

  .bs-popover-auto[x-placement^="bottom"] > .arrow::after,
  .bs-popover-bottom > .arrow::after,
  .bs-popover-auto[x-placement^="top"] > .arrow::after,
  .bs-popover-top > .arrow::after {
    border-bottom-color: $secondaryDark;
  }

  .main_menu ul li.pro-img-thumb .submenu li:last-child,
  .main_menu ul li.nf ul.submenu li.see-all,
  .skills li a,
  .create-post textarea,
  .posting-opt > div:not(:last-child),
  .comment-from,
  .mob-bottom-menu > div:not(:last-child),
  .streamer_thumb .pro-img,
  .streamer_thumb.steamer-status::after,
  .form-control,
  .custom-control-label::before,
  .connect-link,
  .modal-header,
  hr,
  .pricing_single .price_btn a {
    border-color: $darkBorderColor;
  }
  .pro-img-thumb ul li .dl.check-green span,
  .services_tab .nav-link,
  .skills li a,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .form-control,
  input,
  .post-options a,
  .deletion-part,
  #goodbymodal .modal-body,
  .usub-modal .modal-body,
  .popover {
    color: #ddd;
  }
  .header_cus .main_menu ul li ul.submenu {
    box-shadow: 0 0 4px #1b1b1b;
  }
  .bg-white {
    background-color: $mainBgColor !important;
  }
  .services_tab .nav-link,
  .header_4 .sticky .header_btn .thm_btn::before {
    background-color: $mainBgColor;
  }

  .services_tab .nav-link.active,
  .skills li a {
    background-color: $activeBg;
  }
  .team_left,
  .notification-box,
  .pricing_single {
    background: $bgGradient;
  }

  .form-control:focus,
  input:focus,
  .green-audio-player .slider .gap-progress,
  #backtotop,
  .form-control:disabled,
  .form-control[readonly] {
    background: $darkBlack;
  }

  a:hover {
    color: $themePrimary;
  }

  .thm_btn {
    &:not(.thm_btn-black)::before {
      background: $primaryWhite;
    }
    &:not(.thm_btn-black):hover {
      color: $darkBlack;
      background: $primaryWhite;
    }
  }
  .header_4 .sticky .header_btn .thm_btn:hover,
  .modal-content {
    background: $darkBlack;
  }
  .pricing_single .price_icon {
    background: $darkBgBlackColor;
  }
  .streamer_thumb.steamer-status::after {
    box-shadow: none;
  }
}
