body.dark-mode {
  color: #c7c7c7;
}

body.dark-mode p,
body.dark-mode .comment-opt ul li a,
body.dark-mode .input-text-opt a,
body.dark-mode .input-text-opt button,
body.dark-mode .comentar-name a,
body.dark-mode .side-mobile-menu ul li a,
body.dark-mode .side-mobile-menu ul li .dl.check-green span,
body.dark-mode .profile-opt,
body.dark-mode .about-list li p,
body.dark-mode .close,
body.dark-mode .custom-select,
body.dark-mode .deletion-part,
body.dark-mode #goodbymodal .modal-body,
body.dark-mode .usub-modal .modal-body,
body.dark-mode #goodbymodal p,
body.dark-mode .usub-modal p,
body.dark-mode .services_tab .nav-link,
body.dark-mode input,
body.dark-mode textarea,
body.dark-mode select,
body.dark-mode option,
body.dark-mode input:focus,
body.dark-mode select:focus,
body.dark-mode .post-set,
body.dark-mode .about-list li a {
  color: #c7c7c7;
}

body.dark-mode .main-post a,
body.dark-mode #goodbymodal p a,
body.dark-mode .usub-modal p a {
  color: #ff9100;
}

body.dark-mode .header_cus .header_wrap,
body.dark-mode .team_details .td_social li a,
body.dark-mode .create-post,
body.dark-mode .card,
body.dark-mode .file-formate,
body.dark-mode .close-mobile-menu,
body.dark-mode .mob-bottom-menu > div,
body.dark-mode .modal-content {
  background: #151515;
}

body.dark-mode .header_cus .main_menu ul li a:not(:hover),
body.dark-mode .pro-img-thumb ul li .dl.check-green span,
body.dark-mode .team_details .td_social li a,
body.dark-mode .posting-opt > div > label,
body.dark-mode .posting-opt > div > a,
body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h4,
body.dark-mode h5,
body.dark-mode h6,
body.dark-mode #backtotop #scroll,
body.dark-mode .mob-bottom-menu > div a.icon-link i,
body.dark-mode .post-setting-list a,
body.dark-mode #sup_form a,
body.dark-mode .form_cus a,
body.dark-mode #sup_form a,
body.dark-mode .form_cus a,
body.dark-mode .popover-body,
body.dark-mode .popover .post-setting-list label,
body.dark-mode .dropdown-item,
body.dark-mode .skills li a,
body.dark-mode .inputed-list > div .sm-action button i {
  color: #fff;
}

body.dark-mode .main_menu ul li ul.submenu,
body.dark-mode .main_menu ul li.nf ul.submenu li.see-all,
body.dark-mode .posting-opt > div,
body.dark-mode input,
body.dark-mode textarea,
body.dark-mode select,
body.dark-mode .comment-text,
body.dark-mode .post-options,
body.dark-mode .audio-bg,
body.dark-mode .green-audio-player .slider,
body.dark-mode .boxed-selects .pr-input.checked,
body.dark-mode .slide-bar,
body.dark-mode .popover-body,
body.dark-mode .custom-control-label::before,
body.dark-mode .price-br::before,
body.dark-mode .dropdown-menu,
body.dark-mode .notification-box {
  background: #212121;
}

body.dark-mode .dropdown-item:focus,
body.dark-mode .dropdown-item:hover {
  background: #1c1c1c;
}

body.dark-mode .team_details .td_social li a:hover,
body.dark-mode .skills li a:hover {
  background: #3b3b3b;
}

body.dark-mode .bs-popover-auto[x-placement^="bottom"] > .arrow::after,
body.dark-mode .bs-popover-bottom > .arrow::after {
  border-bottom-color: #212121;
}

body.dark-mode .bs-popover-auto[x-placement^="top"] > .arrow::after,
body.dark-mode .bs-popover-top > .arrow::after {
  border-top-color: #212121;
}

body.dark-mode .main_menu ul li.pro-img-thumb .submenu li:last-child,
body.dark-mode .main_menu ul li.nf ul.submenu li.see-all,
body.dark-mode .skills li a,
body.dark-mode .create-post textarea,
body.dark-mode .posting-opt > div:not(:last-child),
body.dark-mode .comment-from,
body.dark-mode .mob-bottom-menu > div:not(:last-child),
body.dark-mode .streamer_thumb .pro-img,
body.dark-mode .streamer_thumb.steamer-status::after,
body.dark-mode .form-control,
body.dark-mode .custom-control-label::before,
body.dark-mode .connect-link,
body.dark-mode hr,
body.dark-mode .pricing_single .price_btn a,
body.dark-mode .custom-select,
body.dark-mode .form-control:focus {
  border-color: #252525;
}

body.dark-mode .modal-header {
  border-color: #181818;
}

body.dark-mode .deletion-part,
body.dark-mode #goodbymodal .modal-body,
body.dark-mode .usub-modal .modal-body,
body.dark-mode .header_cus .main_menu ul li ul.submenu {
  box-shadow: 0 0 4px #1b1b1b;
}

body.dark-mode .bg-white {
  background-color: #101010 !important;
}

body.dark-mode .header_4 .sticky .header_btn .thm_btn::before,
body.dark-mode .custom-control-input:disabled ~ .custom-control-label::before,
body.dark-mode .custom-control-input[disabled] ~ .custom-control-label::before {
  background-color: #101010;
}

body.dark-mode .services_tab .nav-link.active,
body.dark-mode .skills li a,
body.dark-mode .inputed-list > div .sm-action button {
  background-color: #333333;
}

body.dark-mode .team_left,
body.dark-mode .pricing_single {
  background: linear-gradient(to bottom right, #000 0%, #131313 50%, #000 100%);
}

body.dark-mode .form-control:focus,
body.dark-mode input:focus,
body.dark-mode .green-audio-player .slider .gap-progress,
body.dark-mode #backtotop,
body.dark-mode .form-control:disabled,
body.dark-mode .form-control[readonly] {
  background: #000;
}

body.dark-mode a:hover,
body.dark-mode .streamer-about p a,
body.dark-mode .about-list li a:hover {
  color: #ff9100;
}

body.dark-mode .thm_btn:not(.thm_btn-black)::before {
  background: #fff;
}

body.dark-mode .thm_btn:not(.thm_btn-black):hover {
  color: #000;
  background: #fff;
}

body.dark-mode .thm_btn.br_btn:hover {
  color: #000 !important;
}

body.dark-mode .header_4 .sticky .header_btn .thm_btn:hover,
body.dark-mode .services_tab .nav-link {
  background: #000;
}

body.dark-mode .header_4.header_cus .header_btn .thm_btn:hover {
  background: #000 !important;
}

body.dark-mode .pricing_single .price_icon {
  background: #6d6d6d;
}

body.dark-mode .streamer_thumb.steamer-status::after {
  box-shadow: none;
}

body.dark-mode .pop-share-links a {
  background: #151515;
  color: #fff;
}

body.dark-mode .close {
  text-shadow: none;
}

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h4,
body.dark-mode h5,
body.dark-mode h6 {
  font-weight: normal;
}
